<div class="container">
  <table class="table">
    <tr>
      <th scope="col">First Name</th>
      <td>{{ startup?.first_name }}</td>
    </tr>
    <tr>
      <th scope="col">Last Name</th>
      <td>{{ startup?.last_name }}</td>
    </tr>
    <tr>
      <th scope="col">Email</th>
      <td>{{ startup?.email }}</td>
    </tr>
    <tr>
      <th scope="col">phone</th>
      <td>{{ startup?.phone }}</td>
    </tr>
    <tr>
      <th scope="col">company_name</th>
      <td>{{ startup?.company_name }}</td>
    </tr>
    <tr>
      <th scope="col">website_url</th>
      <td>{{ startup?.website_url }}</td>
    </tr>
    <tr>
      <th scope="col">country</th>
      <td>{{ startup?.country }}</td>
    </tr>
    <tr>
      <th scope="col">city</th>
      <td>{{ startup?.city }}</td>
    </tr>
    <tr>
      <th scope="col">fund_raised</th>
      <td>{{ startup?.fund_raised }}</td>
    </tr>
    <tr>
      <th scope="col">company_type</th>
      <td>{{ startup?.company_type }}</td>
    </tr>
    <tr>
      <th scope="col">company_estb</th>
      <td>{{ startup?.company_estb }}</td>
    </tr>
    <tr>
      <th scope="col">isWorking</th>
      <td>{{ startup?.isWorking }}</td>
    </tr>
    <tr>
      <th scope="col">Co founder Name</th>
      <td>{{ startup?.co_first_name }}</td>
    </tr>
    <tr>
      <th scope="col">Co-founder Email</th>
      <td>{{ startup?.co_email }}</td>
    </tr>
    <tr>
      <th scope="col">co-founder phone</th>
      <td>{{ startup?.co_phone }}</td>
    </tr>
    <tr>
      <th scope="col">Emp Count</th>
      <td>{{ startup?.emp_count }}</td>
    </tr>
    <tr>
      <th scope="col">commited_to</th>
      <td>{{ startup?.commited_to }}</td>
    </tr>
    <tr>
      <th scope="col">estimated_cost</th>
      <td>{{ startup?.estimated_cost }}</td>
    </tr>
    <tr>
      <th scope="col">Created</th>
      <td>{{ startup?.created | date }}</td>
    </tr>
  </table>
</div>
